* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.usuarioLogin {
    margin-right: 10px;
    background-color: white;
    color: blue;
}

.portada {
    padding: 20px;
    background-color: rgb(207, 252, 250);
}

.carrusel {
    background-color: rgb(205, 222, 237);
    padding: 20px;
}
.textoBlanco {
    color: white;
}
.textoNegro {
    color: black;
}
.textoVerde {
    color: rgb(91, 203, 47);
}

.cursadas-titulo {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.cursadas-capturar-nota {
    margin-top: 30px;
    padding: 2rem;
    background-color: aliceblue;
}

.capturar-nota-titulo {
    margin-bottom: 20px;
}

.fila-capturar-nota {
    padding: 10px;
}

.guardar-capturar-nota {
    margin-left: 10px;
    margin-top: 20px;
}

/* ALUMNOS */
.noExiste {
    height: 100vh;
    background-color: lightblue;
    padding: 20px;
    gap: 30px;
}

.informacionAlumno {
    background-color: aliceblue;
    padding: 20px;
}

/* LOGIN */

.bodyLogin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formularioLogin {
    padding: 20px;
    height: 430px;
    width: 80vh;
    max-width: 600px;
    background-color: antiquewhite;
}

.buttonAgregarUsuario {
    margin-top: 20px;
}

/* NUEVO */

.lineaInicial {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.formularioIngreso {
    padding: 30px;
    background-color: antiquewhite;
}
.tipoUsuarioRadiobutton {
    display: flex;
    justify-content: center;
    align-items: center;
}