* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.usuarioLogin {
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    color: blue;
}

.portada {
    padding: 20px;
    background-color: #f0f8ff;
}
#parrafoMyLS {
    display: flex;
    flex-direction: column;
    width: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.carrusel {
    background-color: #e0f7ff;
    padding: 20px;
}
.textoBlanco {
    color: white;
}
.textoNegro {
    color: black;
}
.textoVerde {
    color: rgb(91, 203, 47);
}

/* CURSADAS */

#acordeonCursadas {
    margin-bottom: 30px;
}

.cursadas-titulo {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.cursadas-capturar-nota {
    margin-top: 30px;
    padding: 2rem;
    background-color: aliceblue;
}

.capturar-nota-titulo {
    margin-bottom: 20px;
}

.fila-capturar-nota {
    padding: 10px;
}

#botonGuardarNota {
    margin-left: 10px;
    margin-top: 20px;
}

/* ALUMNOS */
.noExiste {
    height: 100vh;
    background-color: #add8e6;
    padding: 20px;
    gap: 30px;
}

.alumnoLogueado {
    padding: 20px;
}

.informacionAlumno {
    padding: 20px;
}

.h4Label {
    margin: 30px;
    color: blue;
}

#comprarCursos {
    padding-top: 30px;
    background-color: #e0f7ff;
}

.moneda {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.labelMonedaPago {
    margin-right: 10px;
}

.encabezadoComprarCursos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botonCarrito {
    padding: 10px;
}
.iconoCarrito {
    margin: 10px;
}

/* CARRITO */
#contenedorVacio {
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: #f0f8ff;
}

#contenedorCarrito {
    padding: 30px;
    background-color: #f0f8ff;
}

#resumenCarrito {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0f7ff;
}

.buttonPagar {
    margin-top: 20px;
}

/* LOGIN */
#encabezadoLogin {
    display: flex;
    justify-content: center;
}

.bodyLogin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formularioLogin {
    padding: 20px;
    height: 400px;
    width: 90vh;
    max-width: 600px;
    background-color: antiquewhite;
}

.buttonAgregarUsuario {
    margin-top: 20px;
}

/* NUEVO */

.lineaInicial {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.formularioIngreso {
    padding: 30px;
    background-color: antiquewhite;
}
.tipoUsuarioRadiobutton {
    display: flex;
    justify-content: center;
    align-items: center;
}
#botonGrabarUsuario {
    margin-top: 20px;
}